@import url("https://fonts.googleapis.com/css2?family=Grand+Hotel&family=Work+Sans:wght@300&display=swap");

.App {
  min-height: 100vh;
  display: flex;
  background: url("background.jpg");
  background-size: cover;
  background-position: center;
}

::-webkit-scrollbar {
  width: 0; /* Remove scrollbar space */
}
/* Optional: show position indicator in red */
::-webkit-scrollbar-thumb {
  background: rgba(136, 136, 136, 0.281);
}
::-webkit-scrollbar-hover {
  background: #555;
}
